In [39]:
import pandas as pd

team_stats = pd.read_csv('/Users/levkondratchik/Documents/GitHub/clustering-players-profiles/data/standard_team_stats.csv')

team_stats.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Playing Time,Playing Time.1,Playing Time.2,Playing Time.3,Performance,Performance.1,...,Per 90 Minutes.2,Per 90 Minutes.3,Per 90 Minutes.4,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,Per 90 Minutes.9,League,Category
0,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,NaN,NaN
1,Arsenal,25,25.8,56.9,38,418,3420,38.0,67,55,...,3.21,1.71,3.16,1.58,1.19,2.77,1.54,2.73,Premier League,standard
2,Aston Villa,28,27.0,50.5,38,418,3420,38.0,56,45,...,2.66,1.39,2.58,1.48,1.1,2.57,1.35,2.45,Premier League,standard
3,Bournemouth,29,25.1,48.5,38,418,3420,38.0,57,41,...,2.58,1.34,2.42,1.68,1.15,2.84,1.54,2.69,Premier League,standard
4,Brentford,28,25.8,47.9,38,418,3420,38.0,65,44,...,2.87,1.58,2.74,1.55,1.12,2.67,1.43,2.55,Premier League,standard

In [40]:
# Переименование последних двух колонок (32 и 33) как League и Ca
team_stats.rename(columns={32: 'League', 33: 'standard'}, inplace=True)

team_stats.head()
# Способ 1: По индексу колонок
team_stats.rename(columns={team_stats.columns[32]: 'League', team_stats.columns[33]: 'Category'}, inplace=True)


team_stats.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Playing Time,Playing Time.1,Playing Time.2,Playing Time.3,Performance,Performance.1,...,Per 90 Minutes.2,Per 90 Minutes.3,Per 90 Minutes.4,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,Per 90 Minutes.9,League,Category
0,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,NaN,NaN
1,Arsenal,25,25.8,56.9,38,418,3420,38.0,67,55,...,3.21,1.71,3.16,1.58,1.19,2.77,1.54,2.73,Premier League,standard
2,Aston Villa,28,27.0,50.5,38,418,3420,38.0,56,45,...,2.66,1.39,2.58,1.48,1.1,2.57,1.35,2.45,Premier League,standard
3,Bournemouth,29,25.1,48.5,38,418,3420,38.0,57,41,...,2.58,1.34,2.42,1.68,1.15,2.84,1.54,2.69,Premier League,standard
4,Brentford,28,25.8,47.9,38,418,3420,38.0,65,44,...,2.87,1.58,2.74,1.55,1.12,2.67,1.43,2.55,Premier League,standard

In [41]:
team_stats.drop(columns = [team_stats.columns[33]], inplace=True)

In [42]:
team_stats.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Playing Time,Playing Time.1,Playing Time.2,Playing Time.3,Performance,Performance.1,...,Per 90 Minutes.1,Per 90 Minutes.2,Per 90 Minutes.3,Per 90 Minutes.4,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,Per 90 Minutes.9,League
0,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,NaN
1,Arsenal,25,25.8,56.9,38,418,3420,38.0,67,55,...,1.45,3.21,1.71,3.16,1.58,1.19,2.77,1.54,2.73,Premier League
2,Aston Villa,28,27.0,50.5,38,418,3420,38.0,56,45,...,1.18,2.66,1.39,2.58,1.48,1.1,2.57,1.35,2.45,Premier League
3,Bournemouth,29,25.1,48.5,38,418,3420,38.0,57,41,...,1.08,2.58,1.34,2.42,1.68,1.15,2.84,1.54,2.69,Premier League
4,Brentford,28,25.8,47.9,38,418,3420,38.0,65,44,...,1.16,2.87,1.58,2.74,1.55,1.12,2.67,1.43,2.55,Premier League

Исправленные названия последних столбцов:
Предпоследний: 'League'
Последний: 'Category'

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Playing Time,Playing Time.1,Playing Time.2,Playing Time.3,Performance,Performance.1,...,Per 90 Minutes.1,Per 90 Minutes.2,Per 90 Minutes.3,Per 90 Minutes.4,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,League,Category
0,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,NaN
1,Arsenal,25,25.8,56.9,38,418,3420,38.0,67,55,...,1.45,3.21,1.71,3.16,1.58,1.19,2.77,1.54,2.73,Premier League
2,Aston Villa,28,27.0,50.5,38,418,3420,38.0,56,45,...,1.18,2.66,1.39,2.58,1.48,1.1,2.57,1.35,2.45,Premier League
3,Bournemouth,29,25.1,48.5,38,418,3420,38.0,57,41,...,1.08,2.58,1.34,2.42,1.68,1.15,2.84,1.54,2.69,Premier League
4,Brentford,28,25.8,47.9,38,418,3420,38.0,65,44,...,1.16,2.87,1.58,2.74,1.55,1.12,2.67,1.43,2.55,Premier League